
.quote {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.quote p {
  font-size: 18px;
  margin: 0;
  color: #333;
  text-align: center;
}

.page {
  text-align: center;
}
